requests         # Handling web requests
feedparser       # RSS/Atom feed parsing
lxml             # XML and HTML parsing
beautifulsoup4   # Parsing broken HTML in Wikidot's RSS feed
pillow           # Managing wiki icon images

# pandas 2.2.0 has a DeprecationWarning if Pyarrow is not installed, which is really annoying when using the CLI.
# I would prefer not to add Pyarrow as a dependency if it isn't actually required, so just avoiding pandas 2.2.0
# Based on pandas GitHub comments, the warning is likely to be removed in 2.2.1, so any other version should do.
pandas != 2.2.0  # Processing Recent Changes
